p {
    position: relative;
    line-height: 1.25em;
  }
  
  p:after {
    background-image: linear-gradient( to left, #fff, rgba(255, 255, 255, 0));
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1.25em;
    content: '';
  }
  body{
    background-color: blue;
  }
  p:hover{
    color: antiquewhite;
  }